<h1>Tasks!</h1>

<%= link_to "Create a task", new_task_path(@task) %>

<div>
  <% current_user.tasks.each do |task| %>
    <%= div_for(task) do %>
      <div class="title">
        Title:
        <%= task.title %>
      </div> 
      <div class="task-body">
        Body:
        <%= task.body %>
      </div>
      <div>
        <%= link_to "Edit", edit_task_path(task) %>
        <%= link_to "Done", task, method: :delete %>
      </div>
    <% end %>
  <% end %>
  
</div>

